@model Team2Project.Models.Users

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

@*<h2 style="color:indianred">Login</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="font-family:sans-serif;padding:150px">
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Username" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required", type = "Password" , placeholder = "Password" }} )
                <span onclick="ShowPass()" class="glyphicon glyphicon-eye-open"></span>
                <br />
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBox("Login", "Login", new { type = "submit", @class = "form-control" ,@style="background-color: #0e63ae;color:white"})
            </div>
        </div>

        <div class="text-danger">
            @{
                if (ViewBag.Error != null)
                {
                    <br />
                    <p class="alert alert-danger text-center">@ViewBag.Error</p>
                }
            }
        </div>

    </div>
}

<script language="javascript">
    function ShowPass() {
        var x = document.getElementById('Password');

        if (x.type === "password") {
            x.type = "text";

        }

        else {
            x.type = "password";

        }
    }
</script>

